.beer_tree {
	padding-left:80px;
	padding-top:30px;
	zoom:0.75;
	display:inline-block;
}

.node text:hover {
	font-size:1.2em;
}

.node {
	cursor:pointer;
}

text.node_label.selected {
	font-size:1.2em;
	fill:brown;
}

g > * {

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.beer_tree {
	float:left;
}

.node_label {
	text-transform: uppercase;
}
