.beer_tree {
	padding-left:80px;
	padding-top:30px;
	zoom:0.75;
	display:inline-block;
}

.node text:hover {
	font-size:1.2em;
}

.node {
	cursor:pointer;
}

.node.selected text {
	font-size:1.3em;
	fill:red;
}
